server {
    listen ${PORT};

    root /var/www/;

    location / {
        try_files $uri /index.html;
    }

    location /config.json {
        default_type text/json;
        return 200 '{"API_URL": "${API_URL}"}';
    }
}
